<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

#     # السماح بالوصول إلى مجلد attachment
# RewriteCond %{REQUEST_URI} ^/attachment/ [NC]
# RewriteCond %{REQUEST_FILENAME} -f
# RewriteRule ^ - [L]


# RewriteEngine On
# RewriteRule ^attachment/(.*)$ /path/to/public/attachment/$1 [L]

# RewriteEngine On
# RewriteRule ^attachment/(.*)$ D:/projects/Invoices/public/attachment/$1 [L]


# RewriteEngine On
# RewriteRule ^attachment/(.*)$ /attachment/$1 [L]

</IfModule>
